node_modules
server/data
server/log.txt
secret.json
supersecret.json
shared/config.json
files.zip
uri-index.json
titles.json
plugins/scriptures/server/files
plugins/scriptures/server/html
plugins/scriptures/server/json
old
.vscode
releases
dom/public/bundle.js
dom/public/bundle.js.map
plugins/scriptures/server/files.tgz
